
h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 16px;
}
ul {
	list-style: none;
	padding: 0;
}
.article {
	background-color: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	padding: 16px;
	border-radius: 8px;
	margin-bottom: 16px;
}
.article h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}
.article h2 a {
	text-decoration: none;
	color: #2563eb;
}
.article h2 a:hover {
	text-decoration: underline;
}
.article p {
	color: #374151;
	margin: 5px;
}

.article-content {
  display: flex;
  align-items: center;
  gap: 16px; /* Spacing between image and text */
}

.article-content img {
  width: 80px; /* Thumbnail size */
  height: 80px; /* Keep it square */
  object-fit: cover; /* Ensures it covers the area nicely */
  border-radius: 6px;
  flex-shrink: 0; /* Prevents shrinking */
}

.article-content div {
  flex: 1; /* Allows text to take up remaining space */
}

.article-title {
	display: flex;
	margin-right: 16px;
	justify-content: space-between;
}

.article-title p {
	font-size: 0.8em;
	font-style: italic;
	color: #2563eb;
}

.read-more {
  display: inline-block;
  //margin-top: 8px;
  color: #2563eb;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}


.article-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.article-nav-button {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.article-nav-button:hover {
  background: #0056b3;
}

.newer {
  margin-right: auto;
}

.older {
  margin-left: auto;
}
