<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= it.article.title %></title>
	<link rel="stylesheet" href="/style/article.css">
	<link rel="stylesheet" href="/style/site.css">
</head>
<body>
	<div class="container">
		<div class="nav">
			<div class="nav-links">
				<a href="/">Home</a>
				<a href="/create-article">Create a New Article</a>
			</div>
			<a href="/login" class="login-link">Login</a>
		</div>

		<div class="article">
			<p><h1><%= it.article.title %></h1></p>
			<p></p>
			<p>
				<% if (it.article.images && it.article.images.length > 0) { %>
					<div class="image-gallery" style="float: left">
						<button class="prev-btn">&lt;</button>
						<div class="image-container">
							<% it.article.images.forEach((image, index) => { %>
								<img src="<%= image %>" alt="Article Image" class="gallery-image <%= index === 0 ? 'active' : '' %>" onclick="openFullscreen(this)">
							<% }) %>
						</div>
						<button class="next-btn">&gt;</button>
					</div>
				<% } %>
				
				<div><%~ it.article.content %></div>
			</p>
		</div>	
			<!--
			<div class="article-left">
				<% if (it.article.images && it.article.images.length > 0) { %>
					<div class="image-gallery">
						<button class="prev-btn">&lt;</button>
						<div class="image-container">
							<% it.article.images.forEach((image, index) => { %>
								<img src="<%= image %>" alt="Article Image" class="gallery-image <%= index === 0 ? 'active' : '' %>" onclick="openFullscreen(this)">
							<% }) %>
						</div>
						<button class="next-btn">&gt;</button>
					</div>
				<% } %>
			</div>

			<div class="article-right">
				<h1><%= it.article.title %></h1>
				<div><%~ it.article.content %></div>
			</div>
		</div>
		-->
		<div class="article-navigation">
			<% if (it.newerArticle) { %>
				<a href="/article/<%= it.newerArticle.id %>" class="article-nav-button newer">Artikel Baru</a>
			<% } else { %>
				<span></span> <!-- Empty span to keep alignment -->
			<% } %>
			<% if (it.olderArticle) { %>
				<a href="/article/<%= it.olderArticle.id %>" class="article-nav-button older">Artikel Lama</a>
			<% } else { %>
				<span></span> <!-- Empty span to keep alignment -->
			<% } %>
		</div>

		
		<div id="fullscreen-overlay" class="fullscreen-overlay">
			<button class="close-btn" onclick="closeFullscreen()">X</button>
			<img id="fullscreen-img" src="" alt="Fullscreen Image">
		</div>
		<script src="/js/article.js" defer></script>
	</div>
</body>
</html>