<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Article</title>
	<!-- TUI Editor CSS -->
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
	<!-- TUI Image Editor CSS -->
	<link rel="stylesheet" href="https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.css">
	
	<link rel="stylesheet" href="/style/article.css">
	<link rel="stylesheet" href="/style/site.css">
</head>
<body>
	<div class="container">
		<div class="nav">
			<div class="nav-links">
				<a href="/">Home</a>
			</div>
			<a href="/login" class="login-link">Login</a>
		</div>
		<h1>Create a New Article</h1>
		<div class="content">
			<form action="/edit-article" method="post" enctype="multipart/form-data">
				<label>Title:</label>
				<input type="text" name="title" required><br><br>
				
				<label>Category:</label>
				<input type="text" name="category" list="category-list" placeholder="Default Category: Umum">
				<datalist id="category-list">
					<% it.categories.forEach(category => { %>
						<option value="<%= category.category %>">
					<% }) %>
				</datalist>
				<br><br>
				
				<label>Content:</label>
				<div id="editor"></div>
				<textarea name="content" id="content-input" hidden></textarea>
				<br><br>
				<label>Tags (Comma separated):</label>
				<input type="text" name="tags" placeholder="Tag, Tag, Tag, ...etc."><br><br>
				<!-- Updated file input for multiple images -->
				<label>Upload Images (max 5):</label>
				<input 
					type="file" 
					name="images" 
					accept="image/*" 
					multiple
					onchange="validateFiles(this)"
				><br><br>
				
				<button type="submit">Submit</button>
			</form>
		</div>
		<!-- TUI Editor JS -->
		<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
		<script src="/js/edit-article.js" defer></script>
	</div>
</body>
</html>