<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/style/index.css">
	<link rel="stylesheet" href="/style/site.css">
</head>
<body>
  <div class="container">
    <div class="header">
			<a href="/create-article">Create a New Article</a>
      <a href="/login">Login</a>
      
    </div>

    <h1>Kabar Terbaru</h1>

    <ul>
      <% if (it.articles.length === 0) { %>
        <p>No articles yet.</p>
      <% } else { %>
        <% it.articles.forEach(article => { %>
          <li class="article">
						<div class="article-content">
							<% if (article.images && article.images.length > 0) { %>
								<img src="<%= article.images[0] %>" alt="Article Image" class="thumbnail">
							<% } %>
							<div>
								<h2>
									<a href="/article/<%= article.id %>"><%= article.title %></a>
								</h2>
								<p>
									<% if (article.content.length > 100) { %>
										<%= article.content.substring(0, 100) %>...
										<a href="/article/<%= article.id %>" class="read-more">Read more</a>
									<% } else { %>
										<%= article.content %>
									<% } %>
								</p>
							</div>
						</div>
					</li>
        <% }) %>
      <% } %>
    </ul>

    <!-- Pagination Links -->
    <div class="pagination">
      <% if (it.prevPage) { %>
        <a href="/?page=<%= it.prevPage %>&limit=5">Previous</a>
      <% } %>
      <% if (it.nextPage) { %>
        <a href="/?page=<%= it.nextPage %>&limit=5">Next</a>
      <% } %>
    </div>
  </div>
</body>
</html>